[data-theme=light] #body-wrap {
    background-image: url(https://bu.dusays.com/2023/10/28/653ce9975bdfe.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  /* 黑夜背景 */
  [data-theme=dark] #body-wrap {
    background-image: url(https://bu.dusays.com/2023/10/28/653ce9975bdfe.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }